.content-body {
  margin: 35px 35px;
}

.about {
  text-align: center;
  padding-bottom: 10px;

}
.img-box {
  align-items: center;
} 
.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  height: 30%;
  box-shadow: 2px 2px 2px 1px rgb(121, 100, 101, 0.6);
}
.about-me {
 
}